<!-- NavBar -->
<nav class="navbar navbar-expand-lg navbar-light bg-white border-bottom">
  <div class="container">
    <a href="#" class="navbar-brand ml-3 ml-lg-0">
      <img src="./frontend/images/logo.png" alt="Logo">
    </a>
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navMobile">
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Menu (Navbar Alternative) -->
    <div class="collapse navbar-collapse" id="navMobile">
      <ul class="navbar-nav nav mr-auto ml-lg-0 ml-4">
        <li class="nav-item text-uppercase">
          <a href="#" class="nav-link nav__item__link--active">kelas</a>
        </li>
        <li class="nav-item text-uppercase">
          <a href="#" class="nav-link nav__item__link">blog</a>
        </li>
        <li class="nav-item text-uppercase">
          <a href="#" class="nav-link nav__item__link">premium</a>
        </li>
      </ul>

      <a href="#" class="btn btn--secondary d-block mr-lg-3 my-lg-0 my-2 ml-lg-0 ml-2">
        LOGIN
      </a>
      <a href="#" class="btn btn--primary d-block my-lg-0 my-2 ml-lg-0 ml-2">
        REGISTER
      </a>
    </div>
  </div>
</nav>
<!-- End NavBar -->