<app-layout>

    <div class="container-fluid">
        <div class="row text-center">
            <div class="col-lg-11 col-md-11 text-center my-auto">
                <div class="card card-bloc shadow d-flex h-20 m-5">
                    <div class=" card-body align-items-center d-flex justify-content-center">
                        <h3>Welcome Admin,
                            <br>
                            <div class="text">
                                {{user.idProfile.fullName}}!
                            </div>
                        </h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <app-footer></app-footer>
</app-layout>