<nav class="navbar navbar-expand-lg navbar-light bg-white shadow-sm sticky-top">
    <div class="container">
        <a [routerLink]="['/home']" class="navbar-brand ml-3 ml-lg-0 d-flex justify-content-center align-items-center">
            <img src="assets/img/logo.png" alt="Logo" style="width: 40px; height: 40px;">
            <b class="ml-1" style="font-size: 24px !important;" style="color: white;">WEDEMY</b>
        </a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto ml-lg-0 ml-4">
                <li *ngIf="!isAdmin" [routerLinkActive]="['active']">
                    <a class="nav-link" routerLink="/home">Beranda</a>
                </li>
                <li *ngIf="!isAdmin" [routerLinkActive]="['active']">
                    <a class="nav-link " routerLink="/class">Kelas</a>
                </li>
                <li *ngIf="!isAdmin" [routerLinkActive]="['active']">
                    <a class="nav-link " routerLink="/about">Tentang Kami</a>
                </li>

            </ul>
            <ul class="navbar-nav ml-4">
                <li class="nav-item" *ngIf="isLoggedOut==true">
                    <a class="nav-link active " routerLink="/auth/login"><b>Masuk</b></a>
                </li>
                <li class="nav-item vertical-divider" *ngIf="isLoggedOut==true">
                    <a class="nav-link">|</a>
                </li>
                <li class="nav-item" *ngIf="isLoggedOut==true">
                    <a class="nav-link active " routerLink="/auth/register"><b>Daftar</b></a>
                </li>
                <li class="nav-item dropdown" *ngIf="isLoggedOut==false">
                    <a class="nav-link dropdown-toggle" href="# " id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <img src="{{user.idProfile.idFile.file ? 'data:image/png;base64,'+user.idProfile.idFile.file : defaultImg}}" class="profile-pic rounded-circle "> Hai, {{firstName}}!
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown ">
                        <a class="dropdown-item" (click)="dashboard()">Dashboard</a>
                        <a *ngIf="!isAdmin" class="dropdown-item" (click)="myProfile()">Profil Saya</a>
                        <a *ngIf="!isAdmin" class="dropdown-item" (click)="setting()">Pengaturan</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" (click)="logout()">Keluar</a>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</nav>