@import '/projects/admin/src/app/styles/colors.scss';
@import '/projects/admin/src/app/styles/font.scss';
@import '/projects/admin/src/app/styles/variables.scss';

.user-button {
  background-color: $blue;
  box-shadow: none;
  margin-left: 16px;
cursor: pointer;

  &__icon {
    color: $white;
    margin-bottom: 3px;
   margin-right: 2px;
  }

  &:hover {
    background-color: $white-80;
  }

  @media (max-width: $small) {
    margin-top: 0;
  }
}

.user-menu-title {
  padding: 16px 48px 0 16px;
  margin-bottom: 4px;
  cursor: pointer;
  &__name {
    margin-bottom: 4px;
    font-weight: $fw-lighter;
    font-size: $fs-large;
    color: $dark-grey;
  }

  &__link {
    color: $blue;
    font-weight: $fw-lighter;
    font-size: $fs-small;
    text-decoration: none;
  }
}

.user-menu-icon {
  color: #3f5af7;
  opacity: .8;
  height: -px;
  cursor: pointer;
}

.sign-button-wrapper {
  text-align: center;
  padding: 8px 0 16px 0;
  width: 100%;
}

.sign-button {
  border: 1px solid;
  color: $blue;
  width: 80%;
}

.user-menu {
  cursor: pointer;
  &__item-title {
    color: $light-grey;

    &:hover {
      color: $dark-grey;
      background-color: $blue-white;

      & .user-menu-icon {
        color: #536DFE;
      }
    }
  }
}

img { 
  border-radius: 50%;
  box-shadow:         3px 3px 5px 6px #ccc; 
}

img :hover{
  color: #ccc;
}