<app-header></app-header>
<div class="page-container">
    <div class="content text-center">
        <div class="d-flex">
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 align-items-center">
                <div class="text-not-found">
                    <h1>404</h1>
                    <h2>HALAMAN TIDAK DITEMUKAN</h2>
                    <button type="button" routerLink="/home" class="btn btn-secondary mt-3">Kembali ke Beranda</button>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <div class="img-not-found pr-5">
                    <img src="../../../assets/img/not-found-1-01.png" style="width: 80%;" alt="">
                </div>
            </div>
        </div>
    </div>

    <app-footer id="footer" class="sticky-bottom"></app-footer>
</div>