.closed {
    background-color: #FFCDD2;
    color: #73000c;
    padding: 18px 15px 1px 15px;
    width: fit-content;
    margin-bottom: 2rem;
}

.upload-box {
    background-color: aliceblue;
    color: #044868;
    padding: 1rem;
    margin-bottom: 2rem;
}

.download-link {
    color: dodgerblue;
    text-decoration: underline;
    cursor: pointer;
}

.due-date {
    color: limegreen;
}

.due-date-over {
    color: red;
}

@media only screen and (max-width: 600px) {
    tr {
        display: flex;
        flex-wrap: wrap;
    }
}