<app-layout>
    <mat-toolbar class="page-header" role="heading">
        <h1>Status Absen</h1>
    </mat-toolbar>

    <div class="container-fluid">
        <div class="col-lg-12 col-md-12 col-sm-12 pb-5 justify-content-center">
            <div class="card">
                <p-toolbar class="p-m-3">
                    <ng-template pTemplate="left">
                        <button pButton pRipple label="Tambah" icon="pi pi-plus" (click)="openNew()"
                            class="p-button-success p-mr-2"></button>
                    </ng-template>
                    <ng-template pTemplate="right">
                        <div class="p-d-flex p-ai-center p-jc-between">
                            <span class="p-input-icon-left">
                                <i class="pi pi-search"></i>
                                <input pInputText type="text" (input)="dt.filterGlobal($event.target.value, 'contains')"
                                    placeholder="Cari..." />
                            </span>
                        </div>
                    </ng-template>
                </p-toolbar>
                <p-table #dt [value]="listApprovements" [rows]="10" [paginator]="true"
                    [globalFilterFields]="['approvementName', 'code']" [rowHover]="true" dataKey="id" class="p-m-3"
                    currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
                    [showCurrentPageReport]="true" [filterDelay]="0" [loading]="loading">
                    <ng-template pTemplate="header">
                        <tr>
                            <th pSortableColumn="code">Kode<p-sortIcon field="code"></p-sortIcon>
                            </th>
                            <th pSortableColumn="name">Nama Status<p-sortIcon field="name"></p-sortIcon>
                            </th>
                            <th>Aksi</th>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-listApprovements>
                        <tr>
                            <td>{{listApprovements.code}}</td>
                            <td>{{listApprovements.approvementName}}</td>
                            <td>
                                <button pButton pRipple icon="pi pi-pencil"
                                    class="p-button-rounded p-button-success p-mr-2"
                                    (click)="editApprovement(listApprovements)"></button>
                                <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-warning"
                                    (click)="deleteApprovement(listApprovements.id)"></button>
                            </td>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="summary">
                        <div class="p-d-flex p-ai-center p-jc-between">
                            Terdapat {{listApprovements ? listApprovements.length : 0 }} Status Absen.
                        </div>
                    </ng-template>
                </p-table>
            </div>


            <p-dialog [(visible)]="productDialog" class="p-mt-5" header="Status Absen" [modal]="true"
                styleClass="p-fluid" (onHide)="hideDialog()">
                <ng-template pTemplate="content">
                    <form name="approvementForm">
                        <div class="p-field">
                            <label for="code">Kode Status Absen</label>
                            <input type="text" name="code" pInputText (ngModelChange)="validation($event,'code')"
                                id="code" [(ngModel)]="approvement.code" /><small *ngIf="!codeValid"
                                class="p-error">{{codeErrMsg}}</small>
                        </div>
                        <div class="p-field">
                            <label for="name">Nama Status Absen</label>
                            <input type="text" name="nama" pInputText id="name"
                                (ngModelChange)="validation($event,'name')"
                                [(ngModel)]="approvement.approvementName" /><small *ngIf="!nameValid"
                                class="p-error">{{nameErrMsg}}</small>
                        </div>
                        <div class="d-flex justify-content-end">
                            <div class="m-2">
                                <button pButton pRipple label="Kembali" icon="pi pi-times"
                                    class="p-button-raised p-button-rounded p-button-danger"
                                    (click)="hideDialog()"></button>
                            </div>
                            <div class="mt-2">
                                <ng-template #insert>
                                    <button pButton pRipple label="Simpan" icon="pi pi-check"
                                        class="p-button-raised p-button-rounded p-button-success"
                                        (click)="insertApprovement()"></button>
                                </ng-template>
                                <button pButton pRipple label="Simpan" *ngIf="update; else insert" icon="pi pi-check"
                                    class="p-button-raised p-button-rounded p-button-success"
                                    (click)="updateApprovement()"></button>
                            </div>
                        </div>
                    </form>
                </ng-template>

            </p-dialog>
            <p-confirmDialog></p-confirmDialog>
        </div>
    </div>
    <app-footer></app-footer>
</app-layout>