<mat-toolbar class="header">

    <div class="header__title">
        <button class="header__title-button" mat-mini-fab (click)="openMenu()">
            <mat-icon *ngIf="!isMenuOpened" class="header__title-button-icon" style="color:white">menu</mat-icon>
            <mat-icon *ngIf="isMenuOpened" class="header__title-button-icon" style="color:white">close</mat-icon>
        </button>
        <div class="col-lg-6 d-flex header__title-text" routerLink="/admin/dashboard">
            <img src="assets/img/logo.png" alt="" width="40px">
            <h6>WEDEMY</h6>
        </div>
    </div>

    <div class="header-toolbar">
        <app-user (signOut)="signOut()"></app-user>
    </div>

</mat-toolbar>