<footer class="mt-auto">
    <div class="divider"></div>
    <div class="container mx-auto p-grid p-jc-center">
        <div class="info p-col-12 p-md-6 p-lg-6 p-grid p-mt-3">
            <h4>Hubungi Kami</h4>
            <span class="p-col-12">
                <i class="pi pi-home mr-2"></i> Jalan Casablanca Kav. 18 Jakarta Selatan
            </span>
            <span class="p-col-12">
                <i class="pi pi-envelope mr-2"></i> wedemy.id@gmail.com
            </span>
        </div>
        <div class="socmed p-col-12 p-md-6 p-lg-6 p-mt-3">
            <h4>Ikuti Kami</h4>
            <span>
                <a href="https://linkedin.com">
                    <img src="/assets/img/linkedin.png" alt="">
                </a>
                <a href="https://instagram.com/wedemy.id">
                    <img src="/assets/img/instagram.png" alt="">
                </a>
                <a href="https://twitter.com/wedemyID">
                    <img src="/assets/img/twitter.png" alt="">
                </a>
            </span>
        </div>
    </div>
    <div class="footer-b text-center text-white">
        <small><b>Copyright &copy; 2021 Wedemy, inc. All Rights Reserved.</b></small>
    </div>
</footer>