.center {
    margin: 0;
    margin-top: 70px;
    margin-bottom: auto;
}

.login-card {
    width: 30%;
    font-family: 'Quicksand', sans-serif;
}

@media only screen and (min-width: 0px) {
    .login-card {
        width: 90%;
    }
}

@media only screen and (min-width: 600px) {
    .login-card {
        width: 50%;
    }
}

@media only screen and (min-width: 1100px) {
    .login-card {
        width: 30%;
    }
}

.container {
    height: 61vh;
}

.h-text {
    color: #2196F3;
}

p {
    font-size: medium;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Quicksand', sans-serif !important;
}

#page-container {
    height: 100vh;
    padding-top: 2rem;
    padding-bottom: 2rem;
}