<div class="content">
    <div class="content-item p-5 bg-light">
        <div class="content-item-dtl mx-auto d-lg-flex">
            <span class="photo mr-5">
                <img class="rounded-circle mr-auto" src="https://www.superprof.co.id/gambar/guru/rumah-guru-mahasiswa-psikologi-yang-juga-merupakan-professional-hypnotheraopist-trainer-business-life-coach-dan-founder-ceo-hypnopreneur.jpg" alt="">
            </span>
            <span class="mt-2">
                <h2><b>Tentang Kami</b></h2>
                <p><b>WEDEMY</b> adalah sebuah platform untuk belajar dan mengajar secara online sehingga peserta dapat menguasai 
                    keterampilan baru dan mencapai tujuan mereka dengan belajar dari perpustakaan ekstensif dengan banyak modul 
                    yang diajarkan oleh instruktur ahli. Setiap orang dapat menjadi instruktur atau pengajar di Wedemy. 
                    Akun ini dibuka untuk umum dan dapat di akses melalui komputer ataupun handphone. 
                    Selain menyediakan materi pembelajaran dan latihan soal, serta ujian untuk mengasah kemampuan para peserta. 
                    Wedemy juga menyediakan forum pengguna interaktif yang membantu dalam membangun 
                    komunitas untuk peserta dan pengajar.
                </p>
            </span>

        </div>
    </div>
    <div class="content-item mx-auto p-5">
        <div class="content-item-dtl mx-auto">
            <h2>WEDEMY untuk Pendidikan Indonesia</h2>
            <p><b>WEDEMY</b> memiliki misi untuk menyediakan dan memperluas akses terhadap pendidikan berkualitas melalui teknologi untuk semua siswa, kapan saja dan di mana saja.</p>
            <p>Kami percaya bahwa pendidikan adalah hak setiap manusia. Kami juga meyakini bahwa pendidikan adalah tiket untuk masa depan yang lebih baik. Maka dari itu, kami bertujuan untuk menyediakan layanan pendidikan dan materi pembelajaran dari guru-guru
                terbaik Indonesia, yang bisa diakses oleh seluruh siswa di mana saja mereka berada dengan biaya yang terjangkau.</p>
            <div class="">
                <h3>Visi</h3>
                <p>Wedemy memiliki visi untuk meningkatkan daya serap dari para peserta didik atas materi yang diajarkan, meningkatkan partisipasi aktif dari para peserta, meningkatkan kemampuan belajar mandiri, dan meningkatkan kualitas materi pembelajaran.
                    Diharapkan dapat merangsang pertumbuhan inovasi baru para peserta sesuai dengan bidangnya masing-masing.
                </p>
            </div>
            <div>
                <h3>Misi</h3>
                <p>Wedemy memiliki misi untuk menyediakan dan memperluas akses terhadap pendidikan berkualitas melalui teknologi untuk semua siswa, kapan saja dan di mana saja.</p>
            </div>
        </div>
    </div>
    <div class="content-item mx-auto p-5">
        <div class="content-item-dtl d-lg-flex mx-auto">
            <div class="mx-auto text-center">
                <span>
                    <img class="icon" src="assets/img/graduate.png" alt="">
                </span>
                <span>
                    <h5>Peserta Tergabung</h5>
                    <h1><b>{{totalParticipant}}</b></h1>
                    <h6>Siswa</h6>
                </span>
            </div>
            <div class="mx-auto text-center">
                <span>
                    <img class="icon" src="assets/img/join.png" alt="">
                </span>
                <span>
                    <h5>Kelas Dibuka</h5>
                    <h1><b>{{totalClass}}</b></h1>
                    <h6>Kelas</h6>
                </span>
            </div>
            <div class="mx-auto text-center">
                <span>
                    <img class="icon" src="assets/img/instructor.png" alt="">
                </span>
                <span>
                    <h5>Pengajar Tergabung</h5>
                    <h1><b>{{totalTutor}}</b></h1>
                    <h6>Pengajar</h6>
                </span>
            </div>
        </div>
    </div>
</div>